/* NAVBAR */

#navigation {
	width:309px;
}
#navigation a  {
	display:block;
	background:url(images/navbar.png);
	height:34px;
	text-indent:-9000px;
}
#navigation a.link1:hover {
	background-position:-309px 0px;
}
#navigation a.link2 {
	background-position:0px -34px;
}
#navigation a.link2:hover {
	background-position:-309px -34px;
}
#navigation a.link3 {
	background-position:0px -68px;
}
#navigation a.link3:hover {
	background-position:-309px -68px;
}
#navigation a.link4 {
	background-position:0px -120px;
}
#navigation a.link4:hover {
	background-position:-309px -120px;
}
#navigation a.link5 {
	background-position:0px -136px;
}
#navigation a.link5:hover {
	background-position:-309px -136px;
}
#navigation a.link6 {
	background-position:0px -170px;
}
#navigation a.link6:hover {
	background-position:-309px -170px;
}


#navigation2 {
	border-right:1px solid #999;
	padding:10px 0px;
	width:145px;
}
#navigation2 a  {
	display:block;
	background:url(images/navigation.png);
	height:47px;
	text-indent:-9000px;
}
#navigation2 a.link1:hover {background-position:-146px 0px;}
#navigation2 a.link2 {background-position:0px -47px;}
#navigation2 a.link2:hover {background-position:-146px -47px;}
#navigation2 a.link3 {background-position:0px -94px;}
#navigation2 a.link3:hover{background-position:-146px -94px;}
#navigation2 a.link4 {background-position:0px -141px;}
#navigation2 a.link4:hover {background-position:-146px -141px;}
#navigation2 a.link5 {background-position:0px -188px;}
#navigation2 a.link5:hover {background-position:-146px -188px;}
#navigation2 a.link6 {background-position:0px -235px;}
#navigation2 a.link6:hover {background-position:-146px -235px;}
#navigation2 a.link7 {background-position:0px -282px;}
#navigation2 a.link7:hover {background-position:-146px -282px;}
#navigation2 a.link8 {background-position:0px -329px;}
#navigation2 a.link8:hover {background-position:-146px -329px;}
#navigation2 a.link9 {background-position:0px -375px; height:65px;}
#navigation2 a.link9:hover {background-position:-146px -375px;}

